.u-section-1 {
  background-image: url("images/9ac20117-6516-4999-b029-b7af5a2b5460.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 919px;
}

.u-section-1 .u-group-1 {
  width: 713px;
  min-height: 841px;
  margin: 53px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 83px;
  margin: 0 574px 0 19px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: -67px auto 0 113px;
}

.u-section-1 .u-text-2 {
  margin: 36px auto 0 19px;
}

.u-section-1 .u-form-1 {
  height: 590px;
  width: 699px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 420px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 220px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}