.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/9ac20117-6516-4999-b029-b7af5a2b5460.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 584px;
  min-height: 573px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 83px;
  margin: 12px 455px 0 9px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: -67px auto 0 103px;
}

.u-section-1 .u-text-2 {
  margin: 25px auto 0 42px;
}

.u-section-1 .u-form-1 {
  height: 285px;
  width: 524px;
  margin: 0 30px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: none;
  background-image: none;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 42px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 420px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 220px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}