.u-section-1 {
  background-image: url("images/9ac20117-6516-4999-b029-b7af5a2b5460.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}